srcs/requirements/wordpress/wp-admin/
srcs/requirements/wordpress/wp-content/
srcs/requirements/wordpress/wp-includes/

wp-activate.php
wp-mail.php
wp-cron.php
wp-settings.php
index.php
wp-blog-header.php
wp-signup.php
license.txt
wp-comments-post.php
wp-links-opml.php
wp-trackback.php
readme.html
srcs/requirements/wordpress/wp-config.php
wp-load.php
xmlrpc.php
wp-config-sample.php
wp-login.php